<ui-loader loading="{{isLoading}}" class-name="bg-white/30 z-10"></ui-loader>
<div class="grid grid-cols-12 bg-emerald-300 h-screen w-screen font-serif">
  <div class="col-span-2 bg-emerald-300 pt-8 px-8">
  </div>
  <div class="col-span-10 bg-emerald-100 pt-20 px-20"></div>
</div>