<div class="grid grid-rows-layout min-h-screen">
  <nav class="flex gap-5">
    <router-link
      href="${props.routes.signIn}"
      class="text-blue-600 hover:text-blue-700"
      label="Sign In"
    ></router-link>
    <router-link
      href="${props.routes.signUp}"
      class="text-blue-600 hover:text-blue-700"
      label="Sign Up"
    ></router-link>
  </nav>
</div>