<ui-loader loading="{{isLoading}}" class-name="bg-white/50 z-10"></ui-loader>
<div class="grid grid-cols-12 h-screen w-screen font-serif animate-fade">
  <div class="col-span-2 bg-emerald-300 pt-6 px-6 block">
    <div class="flex flex-col items-center px-2">
      <a
        href="mailto:{{user.email}}"
        class="text-1xl text-indigo-800"
      >{{user.email}}</a>
      <button
        class="logout-btn border-b border-zinc-800 mt-4 text-1xl flex items-center rounded p-2 w-full justify-center gap-2 hover:text-indigo-800"
      >
        <i class="icon-log-out logout-btn text-xl"></i>
        Logout
      </button>
    </div>
  </div>
  <div class="col-span-10 bg-emerald-100 pt-6 px-10 text-1xl text-indigo-900">
    <p class="mb-6 indent-3">Всего в английском языке встречается более 300
      irregular verbs (неправильных глаголов). Но есть и хорошая новость - около
      100 неправильных глаголов употребляются в 90% случаев. Таким образом, для
      начинающих достаточно выучить основные неправильные глаголы в английском,
      а затем постепенно пополнять свои знания другими, менее распространенными.</p>
    <p class="mb-6 indent-3">Глаголы можно редактировать, добавлять и удалять по
      своему желанию.</p>
    <p class="mb-2 indent-3">
      При изучении глаголы можно отфильтровать на группы в следующем порядке:
    </p>
    <ul class="mb-6">
      <li>Группа 1. Изменение гласной по принципу: [ɪ] - [æ] - [ʌ] (ring - rang
        - rung)</li>
      <li>Группа 2. Изменение гласной во второй и третьей форме (dig - dug -
        dug)</li>
      <li>Группа 3. Вторая и третья форма заканчиваются на –ought или –aught
        (teach - taught - taught)</li>
      <li>Группа 4. Оглушение согласной в конце слова (spend - spent - spent)</li>
      <li>Группа 5. Вторая и третья формы имеют окончания -ew –wn (grow - grew -
        grown)</li>
      <li>Группа 6. Все три формы одинаковые</li>
      <li>Группа 7. Все три формы разные</li>
    </ul>

  </div>
</div>
{{! Infinitive PastSimple PastParticiple }}