<ui-loader loading="{{isLoading}}" class-name="bg-white/50 z-10"></ui-loader>
<div
  class="grid grid-cols-12 bg-emerald-300 h-screen w-screen font-serif animate-fade"
>
  <div class="col-span-2 bg-emerald-300 pt-8 px-8 block">
    <div class="flex flex-col items-center px-2 mt-3">
      <a
        href="mailto:{{user.email}}"
        class="text-2xl text-indigo-800"
      >{{user.email}}</a>
      <button
        class="logout-btn border-b border-zinc-800 mt-4 text-xl flex items-center rounded p-2 w-full justify-center gap-2 hover:text-indigo-800"
      >
        <i class="icon-log-out logout-btn text-xl"></i>
        Logout
      </button>
    </div>
  </div>
  <div class="col-span-10 bg-emerald-100 pt-10 px-20 text-2xl text-indigo-900">
    <p class="mb-8">Неправильные глаголы английского языка - это очень важная
      часть грамматики. Правила построения второй и третьей форм глаголов в
      английском языке довольно просты и, как правило, ни у кого трудностей не
      вызывают. Но, к сожалению, из этого простого правила есть исключение. Этим
      исключением и есть неправильные глаголы.</p>
    <p class="mb-8">Бывает так, что исключения встречаются довольно редко,
      поэтому ими часто можно пренебречь (или, как минимум, отложить на потом).
      Но это не наш случай. Потому что глаголы, которые находятся в списке
      неправильных, очень часто употребляются в английской речи. Приведем только
      некоторые из них: be (быть), do (делать), drink (пить), sleep (спать), eat
      (есть) и другие. Как видите, это действительно глаголы, которые часто
      используются в повседневной речи. Значит для того, чтобы грамотно
      изъясняться на английском языке, вам придется выучить три формы
      неправильных английских глаголов.</p>
    <p class="mb-8">Всего в английском языке встречается более 300 irregular
      verbs (неправильных глаголов). Но есть и хорошая новость - около 100
      неправильных глаголов употребляются в 90% случаев. Таким образом, для
      начинающих достаточно выучить основные неправильные глаголы в английском,
      а затем постепенно пополнять свои знания другими, менее распространенными.</p>
    <p class="mb-4">
      Глаголы можно изучать, отфильтровав иx на группы в следующем порядке в
      следующем порядке:
    </p>
    <ul>
      <li>Группа 1. Изменение гласной по принципу: [ɪ] - [æ] - [ʌ] (ring - rang
        - rung)</li>
      <li>Группа 2. Изменение гласной во второй и третьей форме (dig - dug -
        dug)</li>
      <li>Группа 3. Вторая и третья форма заканчиваются на –ought или –aught
        (teach - taught - taught)</li>
      <li>Группа 4. Оглушение согласной в конце слова (spend - spent - spent)</li>
      <li>Группа 5. Вторая и третья формы имеют окончания -ew –wn (grow - grew -
        grown)</li>
      <li>Группа 6. Все три формы одинаковые</li>
      <li>Группа 7. Все три формы разные</li>
    </ul>

  </div>
</div>