<form class="create-word-form flex flex-col gap-3 font-serif">

  <ui-input
    label="Перевод"
    name="translate"
    type="text"
    class-name="p-2 text-lg"
  ></ui-input>

  <ui-input
    label="Infinitive"
    name="infinitive"
    type="text"
    class-name="p-2 text-lg"
  ></ui-input>
  <ui-input name="infTrans" type="text" class-name="p-2 text-lg"></ui-input>

  <ui-input
    label="PastSimple"
    name="pastSimple"
    type="text"
    class-name="p-2 text-lg"
  ></ui-input>
  <ui-input name="simTrans" type="text" class-name="p-2 text-lg"></ui-input>

  <ui-input
    label="PastParticiple"
    name="pastParticiple"
    type="text"
    class-name="p-2 text-lg"
  ></ui-input>
  <ui-input name="partTrans" type="text" class-name="p-2 text-lg"></ui-input>

</form>