<ui-loader loading="{{isLoading}}" class-name="bg-white z-10"></ui-loader>
<div>
  <app-router>
    <app-route
      path="${props.routes.home}"
      title="Home"
      component="home-page"
    ></app-route>
    <app-route
      path="${props.routes.title}"
      title="Title"
      component="title-page"
    ></app-route>
    <app-route
      path="${props.routes.learned}"
      title="Learned Words"
      component="learned-page"
    ></app-route>
    <app-route
      path="${props.routes.signIn}"
      title="Sing In"
      component="sing-in-page"
    ></app-route>
    <app-route
      path="${props.routes.signUp}"
      title="Sing Up"
      component="sing-up-page"
    ></app-route>
    <app-route
      path="${props.routes.notFound}"
      title="404 | Not Found"
      component="not-found"
    ></app-route>
    <app-outlet></app-outlet>
  </app-router>
</div>
<ui-toast></ui-toast>
<ui-modal></ui-modal>